stages:
  - Security Testing
  - Release

semgrep:
  stage: Security Testing
  image: returntocorp/semgrep
  script: ["semgrep ci --config p/owasp-top-ten"]

trivy:
  stage: Security Testing
  image:
    name: aquasec/trivy:latest
    entrypoint: [""]     # override entrypoint so we call trivy directly
  script: ["trivy fs --severity CRITICAL,HIGH ."]

gitleaks:
  stage: Security Testing
  image:
    name: zricethezav/gitleaks:latest
    entrypoint: [""]  # override entrypoint so we call gitleaks directly
  script: ["gitleaks detect --source . --no-git -v"]

release-image:
  stage: Release
  image: docker:28.3.2
  services:
    - docker:28.3.2-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE/$CI_COMMIT_BRANCH:latest" -t "$CI_REGISTRY_IMAGE/$CI_COMMIT_BRANCH:$CI_COMMIT_SHA" .
    - docker push "$CI_REGISTRY_IMAGE/$CI_COMMIT_BRANCH" --all-tags