apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30081
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: registry.gitlab.com/cs302-2025/g2-team5/frontend/main:e792c17cb8cd4ec2f96650ac910deb664ca8f25d
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: API_GATEWAY_URL
              valueFrom:
                configMapKeyRef:
                  name: frontend-config
                  key: API_GATEWAY_URL
                  # livenessProbe:
                  #   httpGet:
                  #     path: /
                  #     port: 3000
                  #   initialDelaySeconds: 10
                  #   periodSeconds: 10
                  # readinessProbe:
                  #   httpGet:
                  #     path: /
                  #     port: 3000
                  #   initialDelaySeconds: 5
                  #   periodSeconds: 5
      imagePullSecrets:
        - name: gitlab-registry-access-g2t5
